@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@import 'tailwindcss';

@theme {
  --font-sans: 'Geist Mono', 'sans-serif';
  --text-2xs: 0.575rem;

  --color-custom-dark: #393939;
  --color-custom-light: #f2f2f2;
  --color-custom-white: #ffffff;
}

@layer base {
  * {
    color: var(--color-custom-dark);
  }

  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-lg);
    font-weight: 400;
  }
  h3 {
    font-size: var(--text-sm);
    font-weight: 400;
  }

  p {
    font-size: var(--text-sm);
    font-weight: 200;
  }
}
