@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@import 'tailwindcss';

@theme {
  --font-sans: 'Geist Mono', 'sans-serif';
  --text-2xs: 0.575rem;

  --color-custom-light: #f2f2f2;
  --color-custom-medium: #8e8e8e;
  --color-custom-dark: #393939;
}

@layer base {
  * {
    color: var(--color-custom-dark);
  }

  h1 {
    font-size: var(--text-2xl); /* 24px */
  }
  h2 {
    font-size: var(--text-lg); /* 18px */
    font-weight: 400;
  }
  h3 {
    font-size: var(--text-sm); /* 14px */
    font-weight: 400;
  }

  p,
  span {
    font-size: var(--text-sm); /* 14px */
    font-weight: 200;
  }
}
