@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@import 'tailwindcss';

@theme {
  --font-sans: 'Geist Mono', 'sans-serif';

  --color-custom-dark: #393939;
  --color-custom-off-white: #f2f2f2;
  --color-custom-white: #ffffff;
}
